/*default values*/

body, body * {
    box-sizing:border-box;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    color: inherit;
    background-color:transparent;
}

h1 {
    text-align: center;
    margin: 1rem;
    font-family: 'Open Sans', sans-serif;       /*the headings are centralized*/
    font-size: 2.4rem;
}
p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 2px;
    font-family:'Source Sans Pro', sans-serif;
}
.link {
    color:rgb(7, 82, 245);
    font-weight: bold;           /***special settings for links*****/
}



/********************************************page menu*******************************/
.header {
    width: 100%;        /*the menu occupies 10% of the screen height*/
    height: 10vh;
    background-color: black;
}
nav {          /*the nav is divided into the logo and the ul and occupies the whole menu box*/
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    height: 100%;
}
.logo {
    width: auto;                             /*the logo has the height of the menu*/
    height: 100%;
}
.links {
    width: auto;            /*the ul box occupies the li space only*/
    height: auto;
}
li {
    display: inline;
    list-style: none;
    font-size: 1.5rem;          /*theres a space of 1em between each link*/
    margin-right: 1em;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.hamburguer{
    width: 38px;
    height: 40px;              /****the hamburguer icon is hided in big screens***/
    margin-right: 20px;
    display: none;
}
.hamburguer div{
    width: 30px;
    height: 5px;
    background-color: #fff;         /*******settings to the hamburguer icon visual*****/
    margin: 5px 2px;
    border-radius: 6px;
    transition-duration: 200ms;
}
@media screen and (max-width: 460px){    /*in devices with small screens, the ul disappears and the*/
    .links {                             /*hamburguer icon shows up*/
        display: none; 
    }
    .linksOn{  /*what happens when the menu appear*/
        position: absolute;
        top: 9vh;
        width: 100vw;
        height: 30vh;
        background-color: #000;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
    }
    .hamburguer{
        display: block;
    }
    /**settings to turn the hamburguer icon in an "X" icon**/
    .line1X{
        transform: rotate(45deg) translate(8px, 4px);
        transition-duration: 300ms;
    }
    .line2X{
        display: none;
        transition-duration: 300ms;
    }
    .line3X{
        transform: rotate(-45deg) translate(2px, 1px);
        transition-duration: 300ms;
    }
}

/**********************************************Photos player**************************************/
.photos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px,1fr));
    gap: 5px;                                  /*photos container*/
    margin: 1px;
    background-color: #000;
}

.photos img {
    width: 100%;
    height: 100%;              /*photos settings to fit into the grid-itens*/
    object-fit: cover;
}
@media screen and (min-width: 770px){     /*when the screen is not mobile, */
.grid1 {                           /*the images adjust the size to cover the contain*/
    grid-column: 1/2;                 /*and obtain a black background*/
    grid-row: 1/3;                                            
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}
#img1:hover {
    object-fit: contain;
}
.grid1:hover {
    transform: scale(1.1);
    margin-left: 1px;
    background-color: #000;
}

.grid2 {
    grid-column: 2/3;
    grid-row: 1/2;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}
#img2:hover {
    object-fit: contain;
}
.grid2:hover {
    transform: scale(1.1);
    background-color: #000;
}

.grid3 {
    grid-column: 3/5;
    grid-row: 1/2;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}
#img3:hover {
    object-fit: contain;
}
.grid3:hover {
    transform: scale(1.1);
    background-color: #000;
}

.grid4 {
    grid-column: 5/6;
    grid-row: 1/2;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}
#img4:hover {
    object-fit: contain;
}
.grid4:hover {
    transform: scale(1.1);
    background-color: #000;
}

.grid5 {
    grid-column: 2/3;
    grid-row: 2/3;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}
#img5:hover {
    object-fit: contain;
}
.grid5:hover {
    transform: scale(1.1);
    background-color: #000;
}

.grid6 {
    grid-column: 3/4;
    grid-row: 2/4;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}
#img6:hover {
    object-fit: contain;
}
.grid6:hover {
    transform: scale(1.1);
    background-color: #000;
}

.grid7 {
    grid-column: 4/5;
    grid-row: 2/3;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}
#img7:hover {
    object-fit: contain;
}
.grid7:hover {
    transform: scale(1.1);
    background-color: #000;
}

.grid8 {
    grid-column: 5/6;
    grid-row: 2/4;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}
#img8:hover {
    object-fit: contain;
}
.grid8:hover {
    transform: scale(1.1);
    background-color: #000;
}

.grid9 {
    grid-column: 1/3;
    grid-row: 3/4;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}
#img9:hover {
    object-fit: contain;
}
.grid9:hover {
    transform: scale(1.1);
    background-color: #000;
}

.grid10 {
    grid-column: 4/5;
    grid-row: 3/4;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}
#img10:hover {
    object-fit: contain;
}
.grid10:hover {
    transform: scale(1.1);
    background-color: #000;
}

}
/*the photos auto adjust the size on small screen*/
@media (max-width: 770px){
.photos {
    grid-auto-flow: row dense;
}
.grid1 {
    grid-column: span 1;
    grid-row: span 2;
}
.grid2 {
    grid-column: span 1;
    grid-row: span 1;
}
.grid3 {
    grid-column: span 2;
    grid-row: span 1;
}
.grid4 {
    grid-column: span 1;
    grid-row: span 1;
}
.grid5 {
    grid-column: span 1;
    grid-row: span 1;
}
.grid6 {
    grid-column: span 1;
    grid-row: span 2;
}
.grid7 {
    grid-column: span 1;
    grid-row: span 1;
}
.grid8 {
    grid-column: span 1;
    grid-row: span 2;
}
.grid9 {
    grid-column: span 2;
    grid-row: span 1;
}
.grid10 {
    grid-column: span 1;
    grid-row: span 1;
}
}

.grayBackground {  /******when the player is created, the background turns gray and opaque*/
    width: 100vw;
    height: 100vh;
    background-color: hsla(60, 1%, 21%, 0.9);
    position: fixed;
    top: 0%;
}

.photoPlayer {           /****settings to the photo player layout*/
    display: block;
    position: fixed;
    top: 10%;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    border-radius: 15px;
    background-color: rgb(24, 22, 22);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    z-index: 10;
}

.closeButton {
    background-image: url("images/iconfinder_cross_4115230.svg");
    background-repeat: no-repeat;
    cursor: pointer;
    width: 40px;                        /****close button******/
    height: 8%;
    margin: 1% 1% 0% auto;
    z-index: 20;
}

.nextButton {           /********next image button***/
    position: absolute;
    right: 0%;
    width: 50px;
    height: 80%;
    margin: 0% 0px auto auto;
    background-image: url("images/iconfinder_right_1167974.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 30;
    cursor: pointer;
    opacity: 0.3;
}
.nextButton:hover{
    color: #2F3435;
    opacity: 1.0;
}

.previousButton {    /*******previous image button*****/
    position: absolute;
    left: 0%;
    width: 50px;
    height: 80%;
    margin: 0% auto auto 0%;
    background-image: url("images/iconfinder_right_1167974.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 30;
    cursor: pointer;
    transform: rotate(180deg);
    opacity: 0.3;
}

.previousButton:hover {
    opacity: 1.0;
}

/****************************************about us page*****************************************/
.aboutUsPage {
    margin-top: 1rem;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.tabs {
    margin: 1rem auto 0px;
    width: 35%;
}
@media screen and (max-width: 620px){
    .tabs{
        width: 60%;
    }
    p{
        padding: 0px 2rem;
    }
}

/***************************************home page**********************************************/
.flower {
    height: 100vh;
    width: 100%;
    background-image: url(images/delicate-pink-roses.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.homeHeading{
    margin: 0%;
    width: 40%;
}
.sea {
    height: 101vh;
    width: 100%;
    background-image: url(images/sailing-duo2min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
} 
.sea h1 {
    margin: 0%;
    color: #fff;
    font-size: 3rem;
}
.topWild {
    margin-top: 2rem;
}
.bottomWild {
    margin-bottom: 2rem;
}

.access {
    height: 100vh;
    width: 100%;
    background-image: url(images/rain-coming-down-window.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
}
.accessContainer {
    width: 50%;
    height: 10rem;
    border: solid black thick;
    border-radius: 10px;
}
.accessHeader {
    font-size: 4rem;
    font-weight: 700;
}
.button {
    margin: auto;
    width: 8rem;
    line-height: 3rem;
    border-radius: 50px;
    text-align: center;
    background-color: #130f40;
}
.button p {

    color: #dff9fb;
    font-family:'Source Sans Pro', sans-serif;
    font-size: 1.6rem;
    line-height: 2.6rem;
}
@media screen and (max-width: 800px){
    .flower{
        align-items: flex-start;
        justify-content: center;
    }
    .homeHeading{
        width: 70%;
        margin-top: 1rem;
    }
    .accessContainer{
        width: 80%;
    }
    .button{
        width: 70%;
    }
}

